/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
} */

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

/* skills css add */
.skill-image {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 110%;
  object-fit:scale-up;
  border-radius: 0.9rem;
  padding: 1px;
  background-color: rgba(162, 7, 167, 0.9);
  transition: margin-right 2s ease-in-out 0.5s;
  transform: scaley(1.04);
  z-index: 10;
}
/*  */
Galaxy Background
.galaxy-bg {
  position: relative;
  overflow: hidden;
  z-index: 0;
}

/* Stars Animation */
.galaxy-bg::before,
.galaxy-bg::after {
  content: "";
  position: absolute;
  width: 200%;
  height: 200%;
  top: -50%;
  left: -50%;
  background: transparent url('https://raw.githubusercontent.com/JulianLaval/canvas-space/master/img/stars.png') repeat;
  animation: moveStars 100s linear infinite;
  z-index: -1;
  opacity: 0.4;
}

.galaxy-bg::after {
  animation-duration: 200s;
  opacity: 0.6;
}

@keyframes moveStars {
  0% {
    transform: translate(0, 0) rotate(0deg);
  }
  100% {
    transform: translate(25%, 25%) rotate(360deg);
  }
}
